@import "colors";
@import "cards";
@import "displayBox";

form[class~='bg_form'] {
    @extend .display-box;
}

.help-block a {
  color: $corporatius-main;
}

.help-block a:hover {
  color: $corporatius-light;
}

label {
    text-align: right;
    font-weight: 700;
}