@import "colors";

$card-title-color: white;
$card-title-background-color: #337ab7;
$card-background-color: inherit;

div[class*='card_'] {
    background-color: $card-background-color;
    border: 1px solid $card-title-background-color;
  margin: 20px;
}

/* titles with icons */
div[class*='card_'] .card-title {
    display: inline;/* to be able to use icons with the header */
    font-weight: bold;/* font in bold*/
}

div[class*='card_'] > div.card-header {
    background: $card-title-background-color none;/* use same color in card border*/
    color: $card-title-color;/*text color*/
  padding: 7px 10px 7px 10px;
}

div[class*='card_'] .card-title, div[class*='card_'] .card-title > a {
    background: $card-title-background-color none;/* use same color in card border*/
    color: $card-title-color;/*text color*/
  font-size: 16px;
}

div[class*='card_'] div.card-body {
  overflow-y:  auto;
}

/* card header row icon */
div[class*='card_'] a.heading-icon:after
{
    font-family:'Font Awesome 5 Free';
    content:"\f107";
    float: right;
    color: inherit;
}
div[class*='card_']  a[class~=heading-icon].collapsed:after
{
    content:"\f105";
}

/* scroll bar on card body */

div[class*='card_'] div.card-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;/*#F5F5F5;*/
}
div[class*='card_'] div.card-body::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;/*#F5F5F5;*/
}
div[class*='card_'] div.card-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: transparent/*#9d9d9d*/;
}
