@import "colors";

body {
  background-color: lightgrey;
}

h1[class*="error-header"] {
  color: $corporatius-main;
}

h2[class*="error-header"] {
  color: $corporatius-dark
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-details {
  font-size: large;
}

.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}

.error-contact {
  font-size: larger;
}

.error-contact a {
  color: $corporatius-main;
  font-weight: bold;
}

.error-traceback .btn {
  margin-bottom: 10px;
}

.error-traceback .error-traceback-code {
  text-align: left;
  white-space: pre-wrap;
}