@import "colors";
@import "jobs";
@import "cards";
@import "fonts";

/*
Terminal
*/
.terminal {
    height: 340px;
    outline: none;
    line-height: 1em;
    font-size: 14px;
    float: left;
    font-family: $console-font;
    color: white;
    background: black;
    padding: .4em;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 12px 1px rgba(87,87,87,0.4);
    box-shadow: 0 0 12px 1px rgba(87,87,87,0.4);
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top: 0px;
    width: 100%;
}

iframe.for_bokeh {
    width: 100%;
    height: 1000px;
    border: 0;
}

div.sharing {
	//display: none;
	//margin-top: 15px;
	//border-top: solid 1px;
	//padding-top: 5px;
}

div.email-list {
    max-height:250px;
    overflow:hidden;
    overflow-y:scroll;
}

.email-list a {
	background: none;
	border: none;
	padding: 0px;
}
div.email-list a {
	float: right;
}

.details h4 {
  text-align: center;
}


/* scroll bar on email list */

.email-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;/*#F5F5F5;*/
}
.email-list::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;/*#F5F5F5;*/
}
.email-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: transparent/*#9d9d9d*/;
}

.details dd {
  margin-bottom: 0;
}