@import "colors";

$job-title-color: $corporatius-main;//#337ab7
$job-links-color: #337ab7;

/* lists */
div.list-group
{
    padding: 15px 25px 15px 15px;
    padding: 15px 25px 15px 15px;
}

/* Use this one for the list-group that have some special meaning */
div.list-group-special {
  @extend div.list-group;
  background-color: rgba(255, 0, 0, 0.28);
}

div.list-group-no_registered {
  @extend div.list-group-special;
}

div.list-group-no_registered:before {
    content: "These analysis are anonymous and they will be removed automatically after 12h if you don't login and save them before.";
    color: #ffffff;
    font-weight: bold;
}


.list-group-item
{
  margin: 1% 1% 10px;
}

h4.list-group-item-heading {
  font-size: 18px;
}


/* elements in lists */
div[class*='_job'] .list-group-item-heading a {
  color: $job-title-color;
}

div[class*='_job'] .list-group-item-text a.information {
    color: $corporatius-light;
}

div[class*='_job'] .btn-group a {
    color: $job-links-color;
}
div[class*='_job'] .btn-group a:hover {
    color: $corporatius-dark;
}
