@import "footer";
@import "navigation";

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

strong {
  font-weight: 700;
}

a {
  color: #337ab7;
}