@import "colors";
@import "fonts";
@import "user_profile";

.navbar-logo img{
  max-height: 40px;
}

.navbar {
  border-bottom: 1px solid #e7e7e7;
  padding: 0px;
}

.navbar-nav {
  font-family: 'Roboto', $brand-font;
  font-size: 14px;
}

.nav-link {
  color: $corporatius-dark;
}

.nav-link:hover {
    color: $corporatius-light;
}

.nav-item.active .nav-link {
    color: $corporatius-main;
}
