{#About page with information about the group,#}
{#the paper related to the method (if available),#}
{#and any other information you would like to add#}


{% extends "layout.html" %}

{% set active_page = "about" %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/about.css" />
{% endblock %}


{% block content %}

    <div class="jumbotron">

        <div class="container">
            <h1>Barcelona Biomedical Genomics Lab</h1>
            <p><a href="http://bbglab.irbbarcelona.org" target="tab">BBGLab</a> is a research group integrated in the Institute for Research Biomedicine
                (<a href="https://www.irbbarcelona.org" target="tab">IRB</a>) in Barcelona,
                which is part of the Barcelona Institute of Science and Technology
                (<a href="http://bist.eu" target="tab">BIST</a>).
                The lab is located  located at the Barcelona Science Park (<a href="http://www.pcb.ub.edu" target="tab">Parc Científic de Barcelona</a>).
            </p>
            <p>
                Our research is focused on the study of cancer from a genomics perspective.
                We are particularly interested in the identification of cancer driver mutations, genes and pathways across tumour types and in the study of their potential as therapeutic targets.
                See details in <a href="http://bbglab.irbbarcelona.org/web/index.php/research/" target="tab">our group site</a>.
            </p>
        </div>
    </div>


    <div class="container">

        <!-- Citation -->
        <h1 class="pb-2 mt-4 mb-4 border-bottom">Citation</h1>
        <div class="card bg-light">
            <div class="card-body">
            <strong>Authors</strong>
            <!-- FIXME: fill details and change title-->
            <a target="_blank" title="paper" href="#">
                Paper
            </a>. Details
            </div>
        </div>

        <!-- Contact -->
        <h1 class="pb-2 mt-4 mb-4 border-bottom">Contact</h1>
        <div class="row">
            <div class="col-md-4">
                <img class='logo' src="images/group/BBGLab.png" alt="BBGLab"/>
            </div>
            <div class="col-md-8">
                <p style="font-size: 14px">
                    <strong>For information, comments and/or suggestions, please contact us at:</strong>
                    <a href="mailto:bbglab@irbbarcelona.org" target="tab">bbglab@irbbarcelona.org</a>
                </p>
                <p style="font-size: 14px">
                    <strong>Find all contact details in <a href="http://bbglab.irbbarcelona.org/web/index.php/contact/" target="tab">our site</a>.</strong>
                </p>
            </div>
        </div><!-- row -->

    </div><!-- container -->


{% endblock %}