{#Analysis page with the form to submit a new job#}


{% extends "layout.html" %}
{% import "message.html" as message %}


{#FIXME: modify names (name_#) and values#}
{#FIXME: modify explanations and hrefs#}



{#Jinja uses:#}
{#msg -> string with a message. Optional.#}
{#is_admin -> boolean that allows access to special features#}
{#terms_accepted -> boolean that sets if the terms are already accepted or not#}


{#Required cannot be used in the form because when collapsed the browser cannot focus the element that is required#}

{% set active_page = "analysis" %}

{% set terms_accepted = terms_accepted or False %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/analysis_form.css" />
    <!-- file input -->
    <link rel="stylesheet" href="libs/fileinput/fileinput.min.css" />
{% endblock %}

<!-- Page specific content -->
{% block content %}

    <!-- Warning message -->
    {% set msg = msg or none %}
    {{ message.show(msg) }}



<!-- container-fluid not essential -->
<div class="container">


        <!-- Form -->
        <form class="bg_form" role="form" action="submit" enctype="multipart/form-data" method="POST" data-toggle="validator">
            <!-- POST method is a must for file upload -->

            <!-- Text input -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text_input_1">
                    Text input example
                </label>
                <div class="col-md-6">
                    <input type="text" name="name_1" id="text_input_1" class="form-control" value="" placeholder="text placeholder"/>
                    <small class="form-text text-muted help-block">
                        Explanation
                        <a href="#" target="_tab">
                            link to details
                        </a>
                    </small>
                </div>
            </div>

            <!-- Select -->
            <!-- Warning! selects are not recommended in bootstrap -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select_1">
                    Select
                </label>
                <div class="col-md-6">
                    <select class="form-control" id="select_1" name="name_2">
                        <option value="option_1">First option</option>
                        <option value="option_2">Second option</option>
                        <option value="option_3">Third option</option>
                    </select>
                    <small class="form-text text-muted help-block">
                        Explanation
                        <a href="#" target="_tab">
                            link to details
                        </a>
                    </small>
                </div>
            </div>

            <!-- File load -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file_input_1">
                    File input
                </label>
                <div class="col-md-6" >
                    <input id="file_input_1" name="name_3" type="file" class="file" data-show-upload="false" data-show-caption="true" data-preview-file-type="text" />
                    <small class="form-text text-muted help-block">
                        Explanation
                        <a href="#" target="_tab">
                            link to details
                        </a>
                    </small>
                </div>
            </div>

            <!-- select and file load combined -->
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 col-form-label" for="file_select_1">
                        Select and file load
                    </label>
                    <div class="col-xs-12 col-md-6">
                        <select class="form-control" id="file_select_1" name="name_4">
                            <option value="option_1">First option</option>
                            <option value="option_2">Second option</option>
                            <option value="option_3">Third option</option>
                            <option value="upload">Upload</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 offset-md-3 col-md-6" style="margin-top: 20px;">
                        <div id="file_input_2_div" class="hidden">
                            <input id="file_input_2" name="name_5" type="file" class="file" data-show-upload="false" data-show-caption="true" data-show-preview="false"/>
                            <small class="form-text text-muted help-block">
                                Explanation
                                <a href="#" target="_tab">
                                    link to details
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Advanced options card -->
            <div class="card card_advanced_options">
                <!-- Header -->
                <div class="card-header">
                    <h4 class="card-title">
                        <a class="heading-icon" data-toggle="collapse" href="#advanced_card">
                            Title of card 1
                        </a>
                    </h4>
                    <!-- Optional info icon
                    <a style="font-size: small;" data-toggle="tooltip" title="Info for card 1">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    -->
                </div>
                <!-- Body -->
                <div id="advanced_card" class="collapse">
                    <div class="card-body">

                        <!-- numeric input -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="numeric_input_1">
                                Numeric input
                            </label>
                            <div class="col-md-6 ">

                                   <input   type="number"
                                            style="text-align: center"
                                            class="form-control"
                                            id="numeric_input_1"
                                            min=1
                                            max="1000"
                                            value=100
                                            step=1
                                            name="name_7"
                                   />

                            </div>
                        </div>

                        <!-- numeric input slider -->
                        <div class="form-group row">
                            <label class="col-xs-6 col-md-3 col-form-label" for="slider_1">
                                Numeric input with slider
                            </label>
                            <div class="col-xs-10 col-md-6 slider_val">
                                   <input   type="range"
                                            class="form-control slider"
                                            id="slider_1"
                                            min=1
                                            max="10"
                                            value="2"
                                            name="name_8"
                                            onchange="updateSliderValue(this.value);"
                                    />
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <p id="slider_1_value" class="slider_val_text"></p>
                            </div>
                            <div id="slider_1_warning" class="offset-xs-1 col-xs-10 offset-sm-3  col-md-6" style="margin-top: 10px" >
                                <div class="alert alert-warning">
                                    <strong>Warning!</strong>
                                    Take care with some feature
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- card -->






            <!-- Checkbox to enable submitting -->
            <div class="form-group row">
                <div class="offset-sm-2 checkbox">
                    <label>
                        <input id="license_check" type="checkbox" value="yes" name="license" {% if terms_accepted %}checked{% endif %}> Check if you understand and agree our <a href="https://www.irbbarcelona.org/en/legal-disclaimer" target="tab">Terms of Use</a>.
                    </label>
                </div>
                <button type="submit" id="submit_button" class="offset-sm-2 btn btn-primary" disabled>Submit</button>
            </div>

        </form>


</div><!-- container -->

{% endblock %}


{% block scripts %}

    <script>
        update_file_select_upload= function() {
             if ($("#file_select_1").val() != "upload") {
                 $("#file_input_2").prop("disabled", true);
                 $("#file_input_2_div").hide();

            } else {
                 $("#file_input_2").prop("disabled", false);
                 $("#file_input_2_div").show();
            }
        };

        /*
        When it is loaded, update all the dataset and score according to the
        current values of those fields.
         */
        $(document).ready(function() {

            update_file_select_upload();

            updateSliderValue(document.getElementById('slider_1').value);

            terms_accepted = $("#license_check").is(':checked');
            $("#submit_button").attr("disabled", !terms_accepted);

        });

        $("#file_select_1").change(function() {
          update_file_select_upload();
        });


        /*
        Change the status of the submit button according to the clicks on the
         license_check box
         */
        $("#license_check").click(function() {
            $("#submit_button").attr("disabled", !this.checked);
        });

        updateSliderValue = function(val){
            document.getElementById("slider_1_value").innerHTML = val;
            if (val > 5){
                $('#slider_1_warning').show();
            }else {
                $('#slider_1_warning').hide();
            }
        }

    </script>

    <script>
        $(document).ready(function(){
            $("[data-toggle=popover]").popover({
               container: 'body'
            });
        });
        </script>
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- file input-->
    <script src="libs/fileinput/fileinput.min.js"></script>
    <script src="libs/fileinput/theme.min.js"></script>
    <script>
        $("#file_input_1").fileinput({showPreview: false, theme: "fa"});
        $("#file_input_2").fileinput({showPreview: false, theme: "fa"});
    </script>
{% endblock %}
