<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="css/error.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="error-header">
                    Oops!
                </h1>
                <h2 class="error-header">
                    {{ code }}
                </h2>
                <div class="error-details alert alert-danger">
                    {{ msg }}
                </div>
                <div class="error-actions">
                    <a href="home" class="btn btn-primary btn-lg">
                        <i class="fas fa-home"></i>
                        Take Me Home
                    </a>
                </div>
                <div class="error-actions error-contact">
                    If the error persist you can
                    <a href="mailto:bbglab@irbbarcelona.org" target="_top">
                        send us an email
                        <i class="fas fa-envelope"></i>
                    </a>.
                    Please, add the error traceback in you email.
                </div>
            </div>
        </div>
    </div>

    {% if trace %}
    <div class="row">
         <div class="col-md-12 error-template error-traceback">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#traceback">Show traceback</button>
            <div id="traceback" class="card card-body collapse error-traceback-code">
                {{ trace }}
            </div>
         </div>
    </div>

    {% endif %}

</div>

</body>
</html>