{#Page showing the results of a job#}

{% extends "layout.html" %}
{% import "message.html" as message %}


{#Jinja uses:#}
{#msg -> string with a waring message. Optional#}
{#job -> BGJob. Optional#}
{#user_owns_job -> flag to say whether the user is the owner of the job or not#}
{#id -> job ID#}
{#user_is_admin -> flag indicating if the user is admin or not#}
{#is_example -> flag pointing if the job is an example or not #}
{#is_public -> if the job can be accessed by anyone#}
{#websocket ->#}
{#lines ->#}
{#status ->#}



{% set active_page = "results" %}



{% set job=job or None %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/job_results.css" />
{% endblock %}

{% block content %}

<!-- Warning message -->
{% set msg = msg or none %}
{{ message.show(msg) }}



{%  if job is not none %}

{% set emails = job.metadata.get('share', []) %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Job details -->
            <div class="card card_job" >
                <div class="card-header">
                    <h4 class="card-title">
                        {% if user_owns_job %}
                            <a href="#" onclick="update_title('{{ job.metadata.get('title', id) }}');" title="Click to change the title" data-toggle="tooltip">
                                <i class="fas fa-edit"></i>
                            </a>
                        {% else %}
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        {% endif %}
                        &nbsp;
                            {{ job.metadata.get('title', id) }}
                            <span style="float: right">
                                Details
                                <i class="far fa-arrow-alt-circle-down" aria-hidden="true"></i>
                            </span>

                    </h4>
                </div>
                    <div class="card-body">
                        <div class="row details">
                            <div class="col-sm-4">
                                <!--<h4 ><span class="badge badge-pill badge-primary">Info</span></h4>-->
                                <dl class="row">
{#                                <span class="row">#}
                                    <dt class="col-sm-4">ID</dt>
                                    <dd class="col-sm-8">{{ id }}</dd>
{#                                </span>#}
                                    <dt class="col-sm-4">Status</dt>
                                    <dd id="status" class="col-sm-8"></dd>
                                    {% if 'date' in job.metadata %}
                                        <dt class="col-sm-4">Created on</dt>
                                        <dd class="col-sm-8">{{job.metadata['date']}}</dd>
                                    {% endif %}
                                </dl>
                            </div>
                            <div class="col-sm-4">
                                <!--<h4><span class="badge badge-pill badge-primary">Input</span></h4>-->
                                <dl class="row">
                                    <dt class="col-sm-4">Input file 1</dt>
                                    <dd class="col-sm-8">{{job.metadata.get('file_1', 'Unknown')}}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <dl class="row">
                                    <dt class="col-sm-2">Description
                                        {% if user_owns_job %}
                                        <a class="heading-job_details-icon" href="#" onclick="update_description();" title="Click to provide a description" data-toggle="tooltip">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {% endif %}
                                    </dt>
                                    <dd class="col-sm-10">{{job.metadata.get('description', 'No description for this job')}}</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-sm-1">
                                <a href="#" class="btn btn-secondary" onclick="$('#progress').toggle();"><i class="far fa-clock" aria-hidden="true"></i> Execution details</a>
                                <!-- FIXME: add download buttond and file name
                                <a id="download" href="download?id={{id}}&file=-oncodrivefml.tsv" class="btn btn-secondary" style="display: none;"><i class="fa fa-download" aria-hidden="true"></i> Download results</a>
                                -->
                                {% if user_owns_job %}
                                    <a href='#' id="remove" onclick="remove_job()" class="btn btn-secondary" style="display: none;"><i class="fa fa-eraser" aria-hidden="true"></i> Remove</a>
                                    <a href="#" id="share" class="btn btn-secondary" onclick="$('#sharing').toggle();" style="display: none;"><i class="fa fa-share" aria-hidden="true"></i> Share this analysis</a>
                                {% endif %}
                                {% if user_owns_job and user_is_admin and not(is_example) %}
                                    <a href="#" id="add_example" class="btn btn-secondary" style="display: none;" onclick="mark_as_example()" data-toggle="tooltip" title="Make this analysis as example"><i class="fa fa-bullhorn" aria-hidden="true"></i> Make this job as example</a>
                                {% endif %}
                                {% if user_owns_job and user_is_admin and (is_example) %}
                                    <a href="#" id="remove_example" class="btn btn-secondary" style="display: none;" onclick="unmark_as_example()" data-toggle="tooltip" title="Make this analysis as example"><i class="fa fa-ban" aria-hidden="true"></i> Remove this job from examples</a>
                                {% endif %}
                                {% if user_owns_job and is_salvable %}
                                    <a href="save?id={{id}}" class="btn btn-secondary"><i class="icon-floppy-o"></i> Save</a>
                                {% endif %}
                            </div>
                        </div>


                        <div id="progress" class="tab-content" style="display: none; margin-top: 10px">
                            <div role="tabpanel" class="tab-pane active" id="progress">
                                <div class="container-fluid">
                                    <div id="term" class="terminal">
                                       {% for line in lines %}
                                            <div>{{ line|e }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% if user_owns_job %}
                            <!--sharing the job with other users-->
                            <div id="sharing" class="row" style="display: none; margin-top: 15px; padding-top: 5px; border-top: solid 1px;">
                                <div class="col-sm-2">
                                    Who can see this job?
                                </div>
                                <!-- public or private-->
                                <div class="col-sm-2">
                                    {% if is_public %}
                                        <a href="#" id="make_private" onclick="unshare()" class="btn btn-secondary" style="display: none;" data-toggle="tooltip" title="Make this analysis private, only users in the list can see the job."><i class="fa fa-user-secret" aria-hidden="true"></i> Make private</a>
                                    {% else %}
                                        <a href="#" id="make_public" onclick="share()" class="btn btn-secondary" style="display: none;" data-toggle="tooltip" title="Make this analysis readable for anyone with the URL."><i class="fa fa-share-alt" aria-hidden="true"></i> Make public</a>
                                    {% endif %}
                                </div>
                                <!-- Add and remove users -->
                                <div class="col-sm-5">
                                    <div id="div-emails-list" class="card list-group" style="padding: 0px; border: 0px; margin: 0px;">
                                        <a class="list-group-item" data-toggle="collapse" data-target="#emails-list" data-parent="#div-emails-list">
                                            Emails
                                        </a>
                                        <div id="emails-list" class="sublinks collapse">
                                            <ul class="list-group email-list">
                                                <li class="list-group-item" >
                                                    <a href="#" style="width: 100%;" class="btn btn-light" onclick="share_with()" >
                                                        <i style="color: green;" class="fa fa-plus" aria-hidden="true"></i>
                                                        Add email...
                                                    </a>
                                                </li>
                                                <div class="email-list">
                                                {% for email in emails %}
                                                    <li class="list-group-item" >
                                                        {{email|e }}
                                                        <a href="#" class="btn btn-secondary" onclick="unshare_with('{{email|e }}')" >
                                                            <i style="color: red" class="fa fa-minus-circle" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}



                </div>
            </div>

            <!-- FIXME: add if needed figures
            <div id="figures" class="row" style="display: none;">
                <div class="col-md-offset-2  col-md-8" style="margin-bottom: 15px">
                        <div id="tabs" role="tabpanel" class="tab">
                          <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px">
                            <li role="presentation"><a href="#figure" aria-controls="figure" role="tab" data-toggle="tab">Figure</a></li>
                            <li role="presentation"><a href="#image" aria-controls="image" role="tab" data-toggle="tab">Image</a></li>
                          </ul>
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="figure">
                            </div>
                            <div role="tabpanel" class="tab-pane" id="image">
                            </div>
                          </div>
                        </div>
                </div>
            </div>
             -->

        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- container -->

{% else %}
    <!-- Avoid issues with the JS when job is none -->
    <div id="term" style="display: None;"></div>

{% endif %}

{% endblock %}

{#TODO clean the JS code#}

{% block scripts %}
    <script>
    update_title = function(title) {
        //sweet alert object
        swal(
            {
                title: "Write a new title",
                buttons: true,
                content: {
                    element: "input",
                    attributes: {
                      placeholder: title
                    },
                }
            }).then((value) => {
                if (value === null){
                    swal.close();
                }
                else if (value === "") {
                    swal.close();
                    swal("Error", "The title cannot be empty", 'error').then((value) => {update_title(title);});
                }
                else {
                    swal.close();
                    window.location.replace("update?id={{id}}&action=title&value=" + encodeURIComponent(value));
                }
            }

         );
    };

    update_description = function() {
        //sweet alert object
        swal(
            {
                title: "Write a description for this job",
                buttons: true,
                content: {
                    element: "textarea",
                    attributes: {
                      placeholder: "Job description",
                        rows: 6,
                        id: "new_description",
                        class: "form-control"
                    },
                }
            }).then((value) => {
               if (value){
                    swal.close()
                   inputValue = document.getElementById("new_description").value;
                    if (inputValue === "") {
                        swal("Error", "The description cannot be empty", 'error').then((value) => {update_description();});
                    } else {
                        window.location.replace("update?id={{id}}&action=description&value=" + encodeURIComponent(inputValue))
                    }
                }
                else {
                    swal.close();
                }
        }
         );
    };

    remove_job = function() {
        swal({
            title: "Remove this job.",
            text: "Are you sure? You won't be able to recover it.",
            icon: "warning",
            buttons: [true, "Yes, delete it!"],
            dangerMode: true,
        }).then((value) => {
            swal.close();
            if (value) {
                window.location.href = 'remove?id={{id}}';
            }
        })
    };

    display_confirmation = function(title, text, message, target, action) {
        swal({
            title: title,
            text: text,
            icon: "warning",
            buttons: [true, message],
            dangerMode: true,
        }).then((value) => {
            if (value) {
                swal.close()
                window.location.href = 'update?id={{id}}&value='+target+'&action='+action;
            }
        })
    };

    share = function() {
        display_confirmation("Make job public.", "Are your sure? Anyone with the URL will be able to see it.", "Yes, share it!", 'anonymous', 'add');
    };
    unshare = function() {
        display_confirmation("Make private", "Are you sure? Only users in the email list could see it.", "Yes!", 'anonymous', 'remove');
    };
    mark_as_example = function() {
        display_confirmation("Make example.", "Convert this job in an example?", "Yes, do it!", 'example', 'add');
    };
    unmark_as_example = function() {
        display_confirmation("Remove from examples", "Remove job from examples list?", "Yes, remove it!", 'example', 'remove');
    };

    checkEmail = function (email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    };

    share_with = function () {
         swal(
            {
                title: "Add email",
                text: "The user will only have reading rights",
                buttons: true,
                content: {
                    element: "input",
                    attributes: {
                      placeholder: "Email address",
                      type: "email",
                    },
                  }
              }).then((value) => {
                  if (value === null) {
                      swal.close();
                  }
                  else if (checkEmail(value)) {
                      swal.close();
                      display_confirmation("Share", "Share job with " +value+"?", "Yes!", value, 'add');
                  }
                  else {
                         swal.close();
                         swal("Error", "Invalid email", "error").then((value) => share_with());
                  }
         }
         );
    };

    unshare_with = function (email) {
        display_confirmation("Stop sharing", "Do not share this job with " +email+" anymore?", "Yes!", email, 'remove');
    };

    configure_buttons = function() {
        /* if the buttons does not exist it will do nothing */
        {% if user_owns_job %}
            $('#make_public').show();
            $('#make_private').show();
        {% endif %}
        {% if user_owns_job and user_is_admin %}
            $('#add_example').show();
            $('#remove_example').show();
        {% endif %}
    }

    update_status = function(status) {
        badge = 'badge-primary';
        if (status == 'Done') {
            badge = 'badge-success';
            $('#progress').hide();
            $('#download').show();
            $('#remove').show();
            $('#share').show();
            /* FIXME: add file name
            {% if job is not none %}
            $('#figure').html('<div class="container"><iframe class="for_bokeh" seamless="seamless" src="download?id={{id}}&file="></iframe></div>')
            $('#image').html('<div class="container"><img src="download?id={{id}}&file=" /></div>')
            $('#figures').show();
            {% endif %}
            */
            $('#tabs a[href="#figure"]').tab('show');
            configure_buttons();
        } else {
            $('#progress').show();
        }
        if (status == 'Error') {
            badge = 'badge-danger';
            {% if user_owns_job %}
                $('#remove').show();
            {% endif %}
        }
        if (status == 'Waiting') {
            badge = 'badge-warning';
        }
        if (status == 'Running') {

        }

        $('#status').html('<span class="badge '+badge+'">'+ status + '</span>');
    };

    $(document).ready(function() {
      $("#term").scrollTop($("#term")[0].scrollHeight);
          update_status('{{status}}');
           protocol = window.location.protocol == "https:" ? "wss://" : "ws://";
          websocket = protocol + '{{websocket}}/ws/?id={{id}}';

          if (window.WebSocket) {
            ws = new WebSocket(websocket);
          }
          else if (window.MozWebSocket) {
            ws = MozWebSocket(websocket);
          }
          else {
            console.log('WebSocket Not Supported');
            return;
          }
          ws.onmessage = function (evt) {
             msg = evt.data;
             msg_type = msg.substring(0,4)
             msg_data = msg.substring(4)

             if (msg_type == 'LOG:') {
                 msg_style = "";
                 if (msg.indexOf("ERROR")!=-1) {
                    msg_style = " style='color:red;'";
                 }
                 if (msg.indexOf("WARNING")!=-1) {
                    msg_style = " style='color:orange;'";
                 }
                 $('#term').append('<div' + msg_style + '>' + msg_data + '</div>');
                 $("#term").scrollTop($("#term")[0].scrollHeight);
             }

             if (msg_type == 'STA:') {
                 update_status(msg_data);
             }
          };
          ws.onclose = function(evt) {
             $('#term').append('<div>[connection closed by the server]</div>');
          };

    });


    </script>

    <script>
    $(document).ready(function(){
        $("[data-toggle=popover]").popover({
           container: 'body'
        });
    });
    </script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}
