<!DOCTYPE html>

{#Layout of the web. #}
{#Inherited by most of the pages.#}
{#Is a page without content.#}
{##}
{#Has the following blocks:#}
{#- stylesheets: emtpy. For addding page specific stylesheets#}
{#- content: empty. For adding the page content#}
{#- basic_scripts: block with some "essential" scripts#}
{#- scipts: empty. Block for page specific scpits#}
{#- authentication_scripts: block with the scripts related to authentication#}

{#    FIXME: set the pages (and their names) that your web has#}
{#    Elements in the navigation bar.#}
{#    Assignation (tuple-like):#}
{#    - name of the link#}
{#    - font-awesome icon#}
{#    - name to display#}

{% set navigation_bar = [
    ('home', 'fa fa-home', 'Home'),
    ('analysis', 'fa fa-cog', 'Analysis'),
    ('results', 'fa fa-book', 'Results'),
    ('faq', 'fa fa-question', 'Faq'),
    ('about', 'fa fa-comment', 'About')
    ]
-%} <!-- adjust your navigation bar -->
{% set active_page = active_page or path_info() -%}

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>Web title</title> <!-- FIXME: use a name of your choice-->
    <!-- If we have an icon -->
    <!--<link rel="icon" type="image/png" href="images/group/BBGLab-logo.png" /> You can put your icon here -->


    <!-- JQuery Cookie Bar -->
    <link rel="stylesheet" type="text/css" href="libs/jquerycookiebar/jquery.cookiebar.css" />

    <!-- Venobox -->
    <link rel="stylesheet" href="libs/venobox/venobox.css" type="text/css" media="screen" />

    <!-- Go top -->
    <link rel="stylesheet" href="libs/gotop/gotop.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono|Work+Sans" rel="stylesheet">

    <!-- Our CSSs -->
    <link rel="stylesheet" href="css/layout.css" />

    {% block stylesheets %}
    {% endblock %}

</head>


<body>

<!-- FIXME: use your projects google analytics object -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-7336589-1', 'auto');
ga('send', 'pageview');
</script>

<!-- Go top icon -->
<a href="#0" class="cd-top">Top</a>

<nav class="navbar navbar-expand-md navigation-menu">
    <div class="container"><!-- option: container-fluid-->

        <a class="navbar-brand navbar-logo" href="#">
            <img src="images/group/BBGLab-small.png" alt="BBGLab"/>
        </a>

        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-items">

        <ul class="navbar-nav mr-auto">

            {% for href, icon, caption in navigation_bar %}
                <li class="nav-item {% if (href) == active_page|e %}active{% endif %}">
                    <a href="{{ href|e }}"  class="nav-link">
                        <span class="fa {{ icon }}"></span>&nbsp;{{ caption|e }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <ul class="navbar-nav navbar-login" id="navbar_user">
            {% include "navbar_user.html" %}
        </ul>

      </div>

    </div><!-- container -->
</nav>

{#REQUIRED: when using authentication and the user profile#}
{% include "profile_form.html" %}

<!-- Space for the content of each child .html file -->
{% block content %}{% endblock %}


<footer class="page-footer">

{#    FIXME: remove the disclaimer if you do not need it#}
    <div class="disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Disclaimer</strong> This resource is intended for research purposes and it must not substitute a doctor's medical judgement or healthcare professional advice.
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
              <div class="col-xs-12 col-md-3"><!-- For the links -->
                  <div class="row legal">
{#                      FIXME: set the rigth links for terms and legal disclaimers#}
                      <div class="col-xs-6 col-md-12">
                          <span><a href="https://www.irbbarcelona.org/en/legal-disclaimer" target="_blank">- Legal advice</a></span>
                      </div>
{#                      REQUIRED: when providing a REST API#}
                      <div class="col-xs-6 col-md-12">
                          <span><a href="rest_api" target="_self">- REST API</a></span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-9 sponsors"> <!-- For the logos -->
{#                  FIXME: add the logos#}
                  <a href="http://bbglab.irbbarcelona.org/" target="tab"><img src="images/group/BBGLab-small.png" style=""/></a>
                  <a href="https://www.irbbarcelona.org/" target="tab"><img src="images/irb/IRB_vertical.png" /></a>
                  <a href="http://bist.eu/" target="tab"><img src="images/bist/BIST_vertical.png" /></a>
              </div>
        </div><!-- row -->
    </div><!-- container -->
</footer>

{% block basic_scripts %}
     <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


    <!-- Cookie bar -->
    <script src="libs/jquerycookiebar/jquery.cookiebar.js"></script>
    <!-- custom -->
    <script src="js/cookiebar.js"></script>

    <!-- Venobox -->
    <script src="libs/venobox/venobox.min.js"></script>

    <!-- Sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Go top -->
    <script src="libs/gotop/gotop.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Initialize venobox -->
    <script>
        $(document).ready(function(){
            $('.venobox').venobox();
        });
    </script>

{% endblock %}


{% block scripts %}
{% endblock %}

{#REQUIRED: when using authentication#}
{% block authentication_scripts %}


    <script type="text/javascript">
        function anonymous() {
            $('#anonymous_user').show();
            $('#registered_user').hide();
            $('#profiled_user').hide();
        };

        function authenticate(user) {
            $('#anonymous_user').hide();
            $('#registered_user').show();
            $('#profiled_user').hide();
            $('#registered_user_id').text(user);
        };

        function show_institution(institution) {
            $('#profile_institution_div').show();
            $('#profile_form_institution').val(institution);
        };

        function newsletter(flag) {
            if (flag) {
                $('#profile_form_newsletter').prop('checked', true);
            }
        };

        function terms(flag) {
            if (flag) {
                $('#profile_form_terms').prop('checked', true);
            }
        };

        function profile_submit_enable(flag) {
            $("#profile_form_submit").attr("disabled", !flag);
        };

        function authenticate_with_profile(email) {

            $('#anonymous_user').hide();
            $('#registered_user').hide();
            $('#profiled_user').show();

            //email
            $('#profile_email').text(email);
            $('#profile_form_email').attr('placeholder', email);

            // set the current page for redirecting after the submit
            $('#profile_form_to').val(window.location.href);
        };

        $(document).ready(function(){
             /* Update loging and logout redirect pages */
             $("a[href='login']").attr("href", "login?page="+encodeURIComponent(window.location.href));
             $("a[href='logout']").attr("href", "logout?page="+encodeURIComponent(window.location.href));
        });

        $("#profile_form_terms").click(function() {
            $("#profile_form_submit").attr("disabled", !this.checked);
        });

        function ask_for_newsletter(frm) {
            swal({
                title: "BBGLab updates",
                text: "Would you like to be informed of important updates on our tools?",
                icon: "warning",
                buttons: ['No', 'Yes'],
                dangerMode: true,

            }).then((isConfirm) => {
                if (isConfirm){
                    $('#profile_form_newsletter').prop('checked', true);
                    frm.submit();
                } else {
                    frm.submit();
                }
            });
        };

    </script>


    <script src="user.js"></script>

{% endblock %}



</body>
</html>
