{# Macro to display a warning message#}

{% macro show(msg, type='warning') -%}
    {% if msg is not none %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 offset-md-2">
                    <div class="alert alert-{{type}} alert-dismissible" role="alert">
                        <strong>Warning!</strong> {{msg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div><!-- alert -->
                </div>
            </div><!-- row -->
        </div><!-- container -->
    {% endif %}
{%- endmacro %}
