{#This document contains the 3 items than can be shown for the user in the navigation bar.#}
{#Only 1 at a time should be displayed.#}
{#The JS and user.js should fill dinamycally all the valuesin the spans#}



{#unlogged user#}
<li id="anonymous_user" class="nav-item">
    <a href="login" class="nav-link" style="cursor: pointer;">
        Login
        <i class="fa fa-user"></i>
    </a>
</li>


{#FIXME: only one of the next '<li>s' is required. You can keep both.#}
{#    Use the first one for simple app without profile.#}
{#    Use the latter for showing the user profile.#}

{#Logged user: simple original button#}
<li id="registered_user" class="nav-item">
    <a href="logout" class="nav-link" data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Logout">
        <span id="registered_user_id">
            <!-- Filled by JS -->
        </span>
        <i class="fa fa-user"></i>
    </a>
</li>

{#Logged user: user with profile#}
<li class="dropdown" id="profiled_user">
    <a href="#" class="btn btn-sm user_profile_link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user"></i>
        <strong>
            <span id="profile_email">
                <!-- Filled by JS -->
            </span>
        </strong>
    </a>
    <div class="dropdown-menu user_profile">
        <a class="dropdown-item" href="https://bbglab.irbbarcelona.org/profile" target="_blank">
            View profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item logout" href="logout">
            Logout
        </a>
    </div>
</li>

