{#This document contains a modal used to update the user profile#}
{#Some fields must be filled dynamically by the JS code and the user.js script#}



<!-- Modal -->
<div class="modal fade" id="profile_modal" tabindex="-1" role="dialog" aria-labelledby="profile_modal_title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profile_modal_title">
                    User form
                </h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    Please, fill the information and accept the terms to proceed

                    <form id="profile_form" class="form-horizontal profile_form" role="form" action="update_profile" enctype="multipart/form-data" method="POST" data-toggle="validator">

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                Email address
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="profile_form_email" class="form-control" placeholder="email" disabled/>
                                <!-- Filled by JS -->
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="profile_form_institution">
                                Institution
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="institution" id="profile_form_institution" class="form-control" value=""/>
                                <!-- Filled by JS -->
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-offset-1 control-label" for="profile_form_newsletter">
                                I would like to be informed of important updates
                                <input type="checkbox" id="profile_form_newsletter" name="newsletter" value="yes">
                                <!-- Filled by JS -->
                            </label>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-offset-1 control-label" for="profile_form_terms">
                                I accept the <a href="https://www.irbbarcelona.org/en/legal-disclaimer" target="_blank">Terms of Use</a>
                                <input type="checkbox" id="profile_form_terms" name="terms" value="yes">
                                <!-- Filled by JS -->
                            </label>
                        </div>

                        <div class="form-group row">
                            <button type="submit" id="profile_form_submit" class=" col-sm-offset-2 btn btn-default">
                                Submit
                            </button>

                        </div>

                        <div class="form-group row">
                            <p>
                                <small>
                                    If you want to exercise your right to be forgotten, please send us an email to
                                   <strong>bbglab@irbbarcelona.org</strong>.
                                    Keep in mind, that we will delete all the information from all the tools.
                                </small>
                            </p>
                        </div>

                        <input type="hidden" id="profile_form_to" name="to" value="" />
                        <!-- Filled by JS -->

                    </form>
                </div><!-- container-fluid-->
            </div><!-- modal-body -->
        <div class="modal-footer">
{#            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
            <a href="logout" class="btn btn-danger" style="color: white">
                Logout
            </a>
        </div>
        </div><!-- modal-content -->
    </div>
</div>
