{% extends "layout.html" %}

{% set active_page = 'api' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/api.css" />
    <link rel="stylesheet" href="libs/persona/persona.css">

    <!-- code syntax highligh -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

{% endblock %}


{% block content %}


<div class="container">
    <div class="display-box">
        <div class="page-header">
            <h1>API using REST</h1>
           <p>
               We have created an API using REST with a partial implementation of this website functionality.
           </p>
           <p>
               The REST API can be accessed in this url: <a href="{{apihref}}" target="_tab">{{ apiurl }}</a>
           </p>

            <p>
                To be able to use this feature you need to register in our website and
                <a href="#obtain_token">request an authentication token</a>
                as well as accept our terms of use.
            </p>

        </div>

        <div class="page-header">
            <h2>Methods</h2>
        </div>

        <h3>Launching a job</h3>

        To be able to launch a job, do a POST to <a href="{{apihref}}" target="_tab">{{ apiurl }}</a> providing your email and token:

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#python_post">Python</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#curl_post">Curl</a></li>
        </ul>
{# FIXME adujust the content of post request to your API#}
        <div class="tab-content">
            <div id="python_post" class="tab-pane active">

                <pre class="prettyprint lang-py"><code>
import requests
headers = {'Authorization': 'example@email.com your_token'}
payload = {'param1': 'details', 'param2': 'more_details'}
r = requests.post('{{ apiurl }}',
                headers=headers,
                files={'file1': open('/paht/to/your/file.ext', 'rb'), 'file2': open('/paht/to/another/file.ext', 'rb')},
                data=payload)
r.json()
                </code></pre>

            </div>
            <div id="curl_post" class="tab-pane ">

                <pre class="prettyprint lang-sh"><code>
curl --request POST \
  --url {{ apiurl }} \
  --header 'Authorization: example@email.com your_token' \
  -F "file1=@/paht/to/your/file.ext" \
  -F "param1=details" \
  -F "file2=@/paht/to/another/file.ext" \
  -F "param2=more_details"
                </code></pre>

            </div>
        </div>

        <h3>Getting the identifiers</h3>
        To get a list with the identifiers of your jobs do a GET to {{ apiurl }}

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#python_get">Python</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#curl_get">Curl</a></li>
        </ul>

        <div class="tab-content">
            <div id="python_get" class="tab-pane active">

                <pre class="prettyprint lang-py"><code>
import requests
headers = {'Authorization': 'example@email.com your_token'}
r = requests.get('{{ apiurl }}', headers=headers)
r.json()
                </code></pre>

            </div>
            <div id="curl_get" class="tab-pane ">
                <pre class="prettyprint lang-sh"><code>
curl --request GET \
  --url {{ apiurl }} \
  --header 'Authorization: example@email.com your_token'
                </code></pre>

            </div>
        </div>

        <h3>Accessing a job information</h3>
        To get the basic information from a job {{apiurl}}/job_id

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#python_get_job">Python</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#curl_get_job">Curl</a></li>
        </ul>

        <div class="tab-content">
            <div id="python_get_job" class="tab-pane active">

                <pre class="prettyprint lang-py"><code>
import requests
headers = {'Authorization': 'example@email.com your_token'}
r = requests.get('{{apiurl}}/job_id', headers=headers)
r.json()
                </code></pre>

            </div>
            <div id="curl_get_job" class="tab-pane ">

                <pre class="prettyprint lang-sh"><code>
curl --request GET \
  --url {{ apiurl }}/job_id \
  --header 'Authorization: example@email.com your_token'
                </code></pre>

            </div>
        </div>

        <h3>Actions on a job</h3>
        In addition to getting the basic job information, there are a few other operations you can perform on the job data and its results.
        The different actions are:

        <dl class="dl-horizontal">
            <dt>download</dt>
            <dd>
                download the job results
            </dd>
            <dt>logs</dt>
            <dd>
                get the logs of the job execution. It can be useful to access this information while the job is executing
            </dd>
        </dl>

        To perform any of those operations, you only need to make a get indicating the action to be performed
        {{apiurl}}/job_id?action=action_to_be_performed

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#python_get_params">Python</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#curl_get_params">Curl</a></li>
        </ul>

        <div class="tab-content">
            <div id="python_get_params" class="tab-pane active">

                <pre class="prettyprint lang-py"><code>
import requests
headers = {'Authorization': 'example@email.com your_token'}
payload={'action':'logs'}
r = requests.get('{{apiurl}}/job_id', headers=headers, params=payload)
r.json()
                </code></pre>

            </div>
            <div id="curl_get_params" class="tab-pane ">

                <pre class="prettyprint lang-sh"><code>
curl --request GET \
  --url {{ apiurl }}/job_id \
  --header 'Authorization: example@email.com your_token' \
  -G --data 'action=logs'
                </code></pre>

            </div>
        </div>


        When downloading the results, it is likely that you want to store the results file.
        The extension of such a file is: <i>{{file_ext}}</i>

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#python_download">Python</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#curl_download">Curl</a></li>
        </ul>

        <div class="tab-content">
            <div id="python_download" class="tab-pane active">

                <pre class="prettyprint lang-py"><code>
import requests
headers = {'Authorization': 'example@email.com your_token'}
payload={'action':'download'}
r = requests.get('{{apiurl}}/job_id', headers=headers, params=payload)
with open('file.{{file_ext}}', 'wb') as fd:
    fd.write(r._content)
                </code></pre>

            </div>
            <div id="curl_download" class="tab-pane ">

                <pre class="prettyprint lang-sh"><code>
curl --request GET \
  --url {{ apiurl }}/job_id \
  --header 'Authorization: example@email.com your_token' \
  -G --data 'action=download' \
  -o file.{{file_ext}}
                </code></pre>

            </div>
        </div>


        <h3>Deleting a job</h3>

        To be able to delete a job, do a DELETE to <a href="{{apihref}}" target="_tab">{{ apiurl }}</a> providing
        the job identifier your email and token:

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#python_delete">Python</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#curl_delete">Curl</a></li>
        </ul>
        <div class="tab-content">
            <div id="python_delete" class="tab-pane active">

                <pre class="prettyprint lang-py"><code>
import requests
headers = {'Authorization': 'example@email.com your_token'}
r = requests.delete('{{apiurl}}/job_id', headers=headers)
r.json()
                </code></pre>

            </div>
            <div id="curl_delete" class="tab-pane">

                <pre class="prettyprint lang-sh"><code>
curl --request DELETE \
  --url {{ apiurl }}/jobid \
  --header 'Authorization: example@email.com your_token'
                </code></pre>

            </div>
        </div>

        <a name="obtain_token"></a>
        <div class="page-header">
            <h2>Obtain your token</h2>
        </div>

        <p>
            The token in needed in any communication between the end user and the REST API.
        </p>

        <p>
           Only registered users can request a token.
        </p>

        <div class="user_token"  style="display: none">
            Your token:

            <div class="well">
                <span id="token">
                    <!-- filled by JS -->
                </span>
            </div>
        </div>

        <button id="generate_token" class="btn btn-secondary" style="display: none">
            Generate a new token
        </button>

{#        <a id="generate_token" class="btn btn-default" href="generate_token" role="button" style="display: none">Generate a new token</a>#}

        <div class="persona login-button"  style="display: none">
            <a class="btn persona-button"><span>Log in</span></a>
        </div>

    </div><!-- display-box -->

</div><!-- container -->

    <div style="padding-top: 10px;"></div>

{% endblock %}

{% block authentication_scripts %}
{{ super() }}

    <script type="text/javascript">

        function show_token(token) {
            $('.user_token').show();
            $('#token').text(token);

        };

        function show_token_button() {

            $('.login-button').hide();
            $('#generate_token').show();

        };

        function hide_token() {

                $('.login-button').show();
                $('#generate_token').hide();
                $('.user_token').hide();

        };

        </script>

    <script src="token.js"></script>

    <script type="text/javascript">
        $("#generate_token").click(function(e) {
              $.ajax({
                url: '{{generate_token_url}}'
              })
              .done(function(token) {
                    show_token(token);
              })
              .fail(function(jqXHR, textStatus) {
                  status = jqXHR.status;
                  if (status == 401){
                      swal("Terms not accepted", "You should accept our terms before getting the token", "error");
                  }else if (status == 500) {
                      swal("Oops...", "Sorry, we could not generate the token. Please try again later. If the error persist contact us.", "error");
                  }else if (status == 503) {
                      swal("Oops...", "Sorry, this service is not supported.", "error");
                  }else {
                      swal("Oops...", "Something went wrong!", "error");
                  }

              });
              e.preventDefault();
            });
    </script>

    <script>
    $('.login-button').click(function(e) {
      e.preventDefault();
      lock.show();
    });
    </script>
{% endblock %}