{#Page with a list of results of the user#}

{% extends "layout.html" %}
{% import "jobs.html" as jobs_list %}
{% import "message.html" as message %}


{#Jinja uses:#}
{#msg -> string with a waring message#}
{#jobs -> dict with id-job pairs. Optional#}
{#anonymous_jobs -> dict with id-job pairs. Optional#}


{% set active_page = "results" %}

{% set jobs = jobs or {} %}
{% set anonymous_jobs = anonymous_jobs or {} %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/results.css" />
{% endblock %}

{% block content %}

    <div style="margin-top: 15px"></div>

<!-- Warning message -->
{% set msg = msg or none %}
{{ message.show(msg) }}

{#replace the container-fluid for container to avoid some issues solved in a bad way in the footer stylesheet#}
<div class="container">

    <!-- Jobs -->
    <div class="row">
        <div class="col-xs-12 col-md-12" >

            {% if jobs|length == 0 and anonymous_jobs|length == 0%}

            <div class="empty-display">
                    <p>No analyses in your Results page yet.<br /><a href="analysis">Run one now</a>.</p>
            </div>

            {% else %}

                <div class="header-buttons">
                    <div class="btn-group-sm">
                        <a class="btn btn-light" href="analysis">
                            <i style="color: green" class="fas fa-plus"></i>
                            New analysis
                        </a>
                    </div>
                </div>

{#                If the list of jobs is too long, it can be put in a panel so we can scroll through it#}
{#                <div class="panel-body" style="max-height: 100px">#}
                {% if anonymous_jobs|length != 0 %}
                    {{ jobs_list.show(anonymous_jobs, jobs_class='list-group-no_registered', job_css_type ='user_job') }}
                {% endif %}

                {{ jobs_list.show(jobs,job_css_type ='user_job') }}


            {%  endif %}


        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        $("[data-toggle=popover]").popover({
           container: 'body'
        });
    });
    </script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}

